

/*--------------------------
Typography
----------------------------*/
body {
  font-size: 100%;
  font-family: arial, helvetica, sans-serif;
}

#header {
    font-size: 110%;
}

#menu_list a {
    text-decoration: none;
    letter-spacing:0px;
}

#menu_list a:hover {
    --font-weight:bold;
    color:blue;
}

#footer {
   font-size: 90%;
}

/*--------------------------
Layout display: inline; 
----------------------------*/

body {  text-align: left;  }

#header {  align: center;   width: 100%;}

#hdr_title  { display: inline;  align: left; }
#hdr_notification {display: inline;  align: right; }

/*-------------- mainMenu (currently Top menu)  ----------*/ 
#menu_list li {
    display: inline;
    list-style:none; 
    float: left; 
    width: 80px;
    padding: 0px 20px 0px 0px;
}

#top_menu a { padding: 10px 10px 10px 10px; }



#search
{
   display: inline;
   text-decoration: none;
}


#content {
   text-align:left;
   padding: 20px ;
}

#footer {
   clear: left;
   text-align: left;
   padding: 10px;
}


/*--------------------------------
Colour
----------------------------------*/
body {
  background-color: white;
  color: black; 
}

#header {
  background-color: red;
  color: white; 
}

#footer {
   background: #fff;
   border: 0px solid #3c3;
   color: grey;
}



#top_menu  {color: white;
    background: red;
}
    
#top_menu_selected a {
    background: white;
    color: black; 
}