{% extends "base.html" %}
{% block content %}
   <ul id = "menu_list">
      <LI id="top_menu"><a href=/>Home</a></li>
      <LI id="top_menu"><a href=/data>Data</a></li>
      <LI id="top_menu"><a href=/agents>Agents</a></li>
      <LI id="top_menu"><a href=/programs>Programs</a></li>
      <LI id="top_menu_selected"><a href=/about>About</a></li>
    </ul>
    </div>

<H1>AIKIF About</H1>
<H4>About AIKIF and author contact</H4>
This is an example framework to capture the flow of information initially for personal data management, but ultimately useful for AI applications.<BR>Initially it will be populated and tested for human use, but includes tests and verification process for future 'General AI's.<BR><BR>

<H4>Diary Display (testing)</H4>

<div id = "diary_day">

{% for event in events %}
    <div id = "diary_event">
        <div id = "event_date">{{ event['date'] }}
        <div id = "event_time">{{ event['time'] }}
        <div id = "event_details">{{ event['details'] }}
{% endfor %}
</div>


{% endblock %}
