<HTML><HEAD>
<title>AIKIF:Home</title>
<!-- Stylesheets for responsive design -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/static/aikif.css" media="screen" />
<link rel="stylesheet" href="/static/aikif_mob.css" media="only screen and (min-device-width : 320px) and (max-device-width : 480px)">
</HEAD>
<body>
<div id = "container">
   <div id = "header">
   <!-- Banner -->
   <img src = "../static/aikif_banner.jpg" alt="AIKIF Banner"/>
   <ul id = "menu_list">
      <LI id="top_menu_selected"><a href=/>Home</a></li>
      <LI id="top_menu"><a href=/data>Data</a></li>
      <LI id="top_menu"><a href=/agents>Agents</a></li>
      <LI id="top_menu"><a href=/programs>Programs</a></li>
      <LI id="top_menu"><a href=/about>About</a></li>
    </ul>
    </div>

<H1>AIKIF Todo</H1>
<H4>Project overview showing current list of tasks being worked on</H4>
<form action="." method="POST">
  <input type="text" name="search_text">
  <input type="submit" name="my-form" value="Search">
</form>
<H3>Dev Tasks</h3>
<LI>implement mapping functionality of business rules</LI>
<LI>web interface to control agents, including feedback status</LI>
<LI></LI>
<H3>Data Tasks</h3>
<LI>define structures for core tables: events, people, facts, locations</LI>
<LI>define flexible structure for raw data to knowledge to learning</LI>
<LI>collect data output from existing proc_*.py needs to be properly integrated</LI>
<LI>finish function to completely import random spreadsheet</LI>
<H3>Config Tasks</h3>
<LI>setup for users to auto build database</LI>
<LI>get webserver running, deploy to restricted site</LI>
<BR><BR>


<BR><BR><BR>
<div id="footer">
{{ footer }} 
</div></BODY></HTML>
